/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE*/

@font-face {
  src: url(fonts/exotc.ttf);
  font-family: exotc;
}
@font-face {
  src: url(fonts/exotc_demi.ttf);
  font-family: exotc_demi;
}

@font-face {
  src:url(fonts/BOD_R.TTF);
  font-family: bodoni;
}

@font-face {
  src: url(fonts/calibri.ttf);
  font-family: calibri;
}

*{
  text-decoration: none;
}

body{
  background:url("bg/Endur_GreatMountainPNG.png") top right no-repeat;
  background-attachment:fixed;

  height: 100vh;
  background-position: center;
  background-size: cover;

}

header{
  height: 100px;
  position: fixed;
  top: 20px;
  right: 0;
  left:0;
}

header nav ul{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

header nav ul li{
  display: flex;
  list-style: none;
  padding: 0 120px;
  float: left;
}

header nav ul li a{
}

/*
.icon-box{
  width: 75px;
  height: 75px;
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}
*/

/*
.icon-box img{
  opacity: 0.5;
  width: 75px;
  height: 75px;
  padding:  10px 10px 10px;
}
*/

/*
.icon-box p{
  font-family: bodoni;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
}
*/


/*
.icon-box:hover img{
  opacity: 1;
  width: 80px;
  height: 80px;
}

.icon-box:hover p{
  opacity: 1;
}
*/

.header-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "icon-s icon-p brand icon-g icon-u"
}

.header-grid img{
  opacity: 0.5;
  width: 75px;
  padding:  0px 10px 0px 10px;
}

.header-grid div:hover img{
  opacity: 1;
  width: 80px;
  height: 80px;
}

.header-grid p{
    font-family: bodoni;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0;
}

.header-grid div:hover p{
  opacity: 1;
}

.header-brand{
  font-family: exotc;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-left: 50px;

  grid-area: brand;
}

.icon-stories{
  grid-area: icon-s;
  justify-self: center;
}
.caption-stories{
  grid-area: cap-s;
  justify-self: center;
  align-self: start;
}
.icon-photos{
  grid-area: icon-p;
  justify-self: center;
}
.caption-photos{
  grid-area: cap-p;
  justify-self: center;
  align-self: start;
}
.icon-games{
  grid-area: icon-g;
  justify-self: center;
}
.caption-games{
  grid-area: cap-g;
  justify-self: center;
  align-self: start;
}
.icon-updates{
  grid-area: icon-u;
  justify-self: center;
}
.caption-updates{
  grid-area: cap-u;
  justify-self: center;
  align-self: start;
}

/*main*/

main{

}
.index-bg{
  height: calc(100vh - 50px);
}

.vertical-center{
  position:absolute;
  top: 35%;
  left: 5%;
  align-items: center;
  margin: 0 auto;
}

.index-bg h1{
  font-family: exotc;
  font-size: 92px;
  text-align: left;
  color: white;
  text-shadow: -6px 3px #87ceeb;
}
.index-bg h2{
  font-family: bodoni;
  font-size: 32px;
  text-align: left;
  font-weight: lighter;
  color: white;
  font-style: italic;
  padding-top: 20px;
}

.index-divider{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0,0);
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-family: bodoni;
  font-style: italic;
  font-weight: 400;
}

.index-divider:hover{
  background-color: rgba(0, 0, 0,0.2);
  color: rgba(255,255,255,1);
}

.index-welcome{
  height: 250px;
  padding-top: 40px;
  /*
  background-color: rgba(59, 110, 130,0.8);
  */
  background-color: rgba(255, 255, 255,1);
  display: grid;
  grid-template-columns: 5% 30% 40% 20% 5%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  ". h1 p . ."
  ". h2 p . ."
}

.index-welcome h1{
  font-size: 50px;
  font-weight: 700;
  font-family: bodoni;
  color: rgba(70, 166, 126,1);
  padding: 0px 0px 5px 0px;

  justify-self: start;
  align-self: flex-end;
  grid-area: h1;
}
.index-welcome h2{
  font-size: 40px;
  font-weight: 600;
  font-family: bodoni;
  color: rgba(98, 181, 143,1);
  padding: 5px 0px 5px 0px;

  justify-self: start;
  align-self: flex-start;
  grid-area: h2;
}

.index-welcome p{
  width: 500px;
  height: auto;
  font-size: 20px;
  font-weight: normal;
  font-family: calibri;
  color: rgba(98, 181, 143,1);
  line-height: 30px;

  grid-area: p;
  align-self: center;
  justify-self: center;
}
